body {
    margin: 0;
    font-family: gd-font;
    background: radial-gradient(circle, rgba(102,193,49,1) 0%, rgba(182,208,8,1) 79%, rgba(214,195,0,1) 100%);
}

@font-face {
    font-family: gd-font;
    src: url(assets/GAS_____.TTF);
}

.container {
    text-align: center;
    margin-top: 100px;
}

.splatter-container {
    position: relative;
    display: inline-block;
}

.splatter-image {
    width: 1250px; /* Adjust size as necessary */
    height: auto;
}

.splatter-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    margin: 0;
}

.buttons {
    position: absolute;
    top: 55%; /* Adjust this value to move the buttons up or down */
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    margin: 0 10px; /* Adjust spacing between buttons */
}

.button img {
    width: 125px; /* Adjust size as necessary */
    height: auto;
    transition: transform 0.3s ease;
}

#about img {
    transform: translateY(8px); /* Slightly lower */
}

#exit img {
    transform: translateY(2px); /* Higher */
    width: 400px;
}

#gallery_btn img {
    transform: translateY(8px); /* Slightly lower */
}

#static img {
    transform: translateX(-40px); /* Slightly left */
    transform: translateY(-10px);
    width: 475px;
}

.button:hover img {
    transform: scale(1.1);
}

.contact-info {
    color: #9F1790;
}

.contact-info p {
    color: #9F1790;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 1000px;
}

.gallery-image {
    margin: 10px;
    max-width: auto;
    height: auto;
    border: 4px solid #EA0393;
    border-radius: 10px;
}

